<html>
<head>
<title>Смена пароля</title>
<script src={{ url_for('static', filename='js/changePassword.js') }}></script>
</head>
<body>
<h1>Смена пароля</h1>
<p>{{ msg }}</p>
<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
	<p>Пароль: <input type="password" name="oldpassword"></p>
	<p>Новый пароль: <input type="password" name="newpassword" id="newpassword"></p>
	<p>Подтверждение пароля: <input type="password" name="cpassword" id="cpassword"></p>
	<input type="submit" value="Save">
</form>
<a href="{{ url_for('profileHome') }}">Профиль</a>
</body>
</html>


